body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}
canvas {
    background: black;
    height:inherit;
    width: inherit;
}

h1, div{
    color: white;
}
.game-over-div{
    /* display: none; */
    display: flex;
    position: fixed;
    top:9%;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    width: 800px;
    height: 600px;
    background-color: black;

}
.game-over-infor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    width: 20em;
    height: 10em;
}