body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}
canvas {
    background: black;
    height:inherit;
    width: inherit;
}

h1, div{
    color: white;
}