body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    font-family: Frijole;
    height: 40em;
    /* border: 10px solid red; */
}
.game-div{
    width: 100%;
    height: 100%;
}
.game{
    display: flex;
}
canvas {
    background: black;
    height:600px;
    width: 800px;
    cursor: url("./images/Skull.ani"),default;
    /* border: 1px solid red; */
    margin-top: -2%;

}
.descrption{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.descrption ul {
    list-style-type: none;
    line-height: 2;
}

h1, div{
    color: white;
}
.game-over-div{
    display: none;
    /* display: flex; */
    position: fixed;
    top:8%;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    width: 800px;
    height: 600px;
    background-color: black;
    transition: ease-in-out 0.5s;
}
.game-over-infor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    width: 20em;
    height: 10em;
}

.start-game-div{
    display: flex;
    /* display: none; */
    position: fixed;
    top:10%;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: black;
   
}
button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-family: Frijole;
    align-items: center;
    justify-content: center;
}
  
button span{
    position: relative;
    z-index: 10;
}
  
button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

button:hover{
    color: #fff;
}

button:hover:after{
    width: 100%;
    z-index: 1;
}

.instruction{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.instruction span{
    position: relative;
}

.score-div{
    position: fixed;
    top:12%
}