body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}
canvas {
    background: black;
    height:inherit;
    width: inherit;
}

h1, div{
    color: white;
}
.game-over-div{
    display: none;
    position: fixed;
    top:40%;
    left: 39%;
    border:1px solid red;
    width: 20em;
    height: 10em;

}
.game-over-infor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid red;
    width: inherit;
}