body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    font-family: Frijole;
}
.game-div{
    width: 100%;
    height: 100%;
}
.game{
    display: flex;
}
canvas {
    background: black;
    height:inherit;
    width: inherit;
    cursor: url("./images/Skull.ani"),default;
}

h1, div{
    color: white;
}
.game-over-div{
    display: none;
    /* display: flex; */
    position: fixed;
    top:9%;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    width: 800px;
    height: 600px;
    background-color: black;
    transition: ease-in-out 0.5s;
}
.game-over-infor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    width: 20em;
    height: 10em;
}

.start-game-div{
    display: flex;
    position: fixed;
    top:10%;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: black;
   
}